* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: monospace;
}

body {
    width: 100%;
}

.container-dash {
    width: 100%;
    height: 50px;
    border-bottom: 1px black solid;
    display: flex;
    align-items: center;
}

.frame {
    margin-left: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px black solid;
}

.frame:hover{
    background-color: rgb(130, 229, 158);
}

h3, h2 {
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt{
    width: 30%;
}

.inp{
    width: 20%;
}

table {
    width: 50%;
}

@media screen and (max-width: 687px) {
    .container{
        display: block;
    }
    
    .txt{
        width: 100%;
        margin-bottom: 50px;
    }
    .inp{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
    table {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }
}

table,
th,
td {
    border-collapse: collapse;
    padding: 10px;
}

.td-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="submit"]{
    border-radius: 25px;
    padding: 5px;
    width: 100px;
    background-color: rgb(130, 229, 158);
    border: 1px black solid;
    box-sizing: border-box;
}